@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;


.d-flex{
	display:flex;
	flex-wrap: wrap
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.container{
	width:1200px;
	margin:0 auto;
}
ul{
	list-style: none;
}

.text-white{
    color:white;
}